In [6]:
import pandas as pd
import numpy as np
from tqdm import tqdm

In [7]:
pos = "rb"

In [8]:
def get_per_game(df):
    cols = df.columns
    
    for c in cols:
        if "RUSHING" in c or "RECEIVING" in c or "FL" in c:
            df[c+"/G"] = df[c]/df["G_MISC"]
            #new_names.append()
    
    return df

In [71]:
def find_last_ewm(x):
    #print(x.columns)
    #print(x.name)
    if x.dtype != "O" and x.name!="pid":
        return x.ewm(halflife=2).mean().values[-1]
        
            
    #elif x.dtype == "O":
     #   values.append(" ")
    #return values
    #print(x.ewm(alpha=0.5))

In [76]:
def find_comp_df(pos, season_int, how="past"):
    if how =="ns":
        past_data = pd.read_csv(f"raw data/rb_raw.csv")
        ns_data = pd.read_csv("ns data/rb_ns.csv")
        
        past_data = past_data[past_data.Season != past_data.Season.values[-1]]
        ns_data = ns_data.rename({"Rank":"Rank_y"}, axis=1)
        line = past_data.append(ns_data)
        line = line.drop("Player", axis=1)
        line = line.rename({"Player Team (Bye)": "Player"}, axis=1)
        
        
    else:
        line = pd.read_csv(f"raw data/{pos}_raw.csv")
    #return line
    base_line = ["Player", "pid", "Season", "ATT_RUSHING", "YDS_RUSHING", "TD_RUSHING", "REC_RECEIVING", "TGT_RECEIVING", "YDS_RECEIVING", "TD_RECEIVING", "FL_MISC", "AVG", "G_MISC", "FPTS/G_MISC", "FPTS_MISC"]

    gs = line[base_line]

    pg_df = get_per_game(gs.copy())

    classes = ["_RUSHING", "_RECEIVING"]
    for c in classes:

        if c == "_RUSHING":
            pg_df["YDS/ATT"+c] =pg_df["YDS"+c] /pg_df["ATT"+c]
            pg_df["TD/ATT"+c] =pg_df["TD"+c] /pg_df["ATT"+c]
        else:
            pg_df["YDS/REC"+c] =pg_df["YDS"+c] /pg_df["REC"+c]
            pg_df["YDS/TGT"+c] =pg_df["YDS"+c] /pg_df["TGT"+c]
            pg_df["REC/TGT"+c] =pg_df["REC"+c] /pg_df["TGT"+c]
            pg_df["TD/TGT"+c] =pg_df["TD"+c] /pg_df["TGT"+c]

    agg_feats_base = pg_df.drop("AVG", axis=1).columns[3:].values

    agg_feats = []
    for f in agg_feats_base:
        if "/" in f:
            agg_feats.append(f)

    adp = "AVG"
    if how == "ns":
        seasons = np.arange(2018, season_int+1)
    else:
        seasons = np.arange(2018, season_int)

    full_bdf = pd.DataFrame()
    full_bdfs = []
    for s in tqdm(seasons):
        bdf = pg_df[pg_df.Season == s][["pid", "Player", "Season","AVG", "FPTS/G_MISC"]]
        bdf = bdf.rename({"FPTS/G_MISC": "FPTS_TG"}, axis=1)
        #print(len(bdf))
        bdf =  bdf.merge(pg_df[(pg_df.Season < s) & (pg_df.Season > s-4)].groupby("pid")[agg_feats].mean().reset_index(), how="left", on="pid")

        #return pg_df[(pg_df.Season < s) & (pg_df.Season > s-5)]
        ewm_df = pg_df[(pg_df.Season < s) & (pg_df.Season > s-4)].reset_index(drop=True).groupby("pid").agg(find_last_ewm)[agg_feats]

        bdf =  bdf.merge(ewm_df.reset_index(), how="left", on="pid", suffixes=["_avg", "_ewm"])

        #ls = pg_df[(pg_df.Season == s-1)].groupby("pid").mean()[agg_feats]
        #ls_cols = [a+"_ls" for a in ls.columns]        #ls.columns = ls_cols

        #bdf = bdf.merge(ls.reset_index(), how="left", on="pid")


        #full_bdf = full_bdf.append(bdf)
        full_bdfs.append(bdf)

    full_bdf = pd.concat(full_bdfs)
    drafted = full_bdf[~full_bdf.AVG.isna()]

    is_rookie = []
    career_years = []
    
    for i, s in zip(drafted.pid.values, drafted.Season.values):
        last_apps = pg_df[(pg_df.Season < s) & (pg_df.pid == i)]
        if len(last_apps) > 0:
            is_rookie.append(0)
        else:
            is_rookie.append(1)


        career_years.append(len(last_apps))

    drafted["Rookie"] = is_rookie
    drafted["Career_Years"] = career_years
    
    if how == "ns":
        drafted = drafted[drafted.Season == season_int]

    return drafted

In [77]:
pos_data = find_comp_df('rb', 2023)

100%|████████████████████████████████████████████████████████████████████████████████████| 5/5 [00:02<00:00,  1.73it/s]
C:\Users\sergi\AppData\Local\Temp\ipykernel_23064\1113500114.py:85: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  drafted["Rookie"] = is_rookie
C:\Users\sergi\AppData\Local\Temp\ipykernel_23064\1113500114.py:86: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  drafted["Career_Years"] = career_years

In [78]:
pos_data[pos_data.pid == 16673][["Season", "FPTS_TG","FPTS/G_MISC_ewm", "FPTS/G_MISC_avg"]]

    Season  FPTS_TG  FPTS/G_MISC_ewm  FPTS/G_MISC_avg
22    2018     13.2         6.300000         6.300000
1     2019     18.1        10.341926         9.750000
4     2020     16.8        13.856969        12.533333
11    2021     13.5        16.400943        16.033333
8     2022     12.9        15.599333        16.133333

In [79]:
pos_data.to_csv(f"processed data/{pos}_proc_data.csv", index=False)

In [34]:
ns_proc = find_comp_df('rb', 2023, how="ns")

100%|██████████| 6/6 [00:10<00:00,  1.72s/it]
/home/sergio/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:81: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/sergio/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:82: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [41]:
ns_proc.to_csv("processed data/rb_ns_proc.csv", index=False)

In [35]:
ns_proc

,pid,Player,Season,AVG,FPTS_TG,FPTS/G_MISC_avg,ATT_RUSHING/G_avg,YDS_RUSHING/G_avg,TD_RUSHING/G_avg,REC_RECEIVING/G_avg,...,TD_RECEIVING/G_ewm,FL_MISC/G_ewm,YDS/ATT_RUSHING_ewm,TD/ATT_RUSHING_ewm,YDS/REC_RECEIVING_ewm,YDS/TGT_RECEIVING_ewm,REC/TGT_RECEIVING_ewm,TD/TGT_RECEIVING_ewm,Rookie,Career_Years
0,16393,Christian McCaffrey SF (9),2023,1.7,NaN,21.800000,16.524991,72.957589,0.804403,5.800595,...,0.253914,0.000000,4.467766,0.039357,8.872003,7.498058,0.844058,0.038981,0,6
1,16483,Austin Ekeler LAC (5),2023,4.0,NaN,17.075000,11.181250,49.643382,0.450551,5.454779,...,0.361019,0.137952,4.447574,0.045794,8.134974,6.600941,0.814496,0.055112,0,6
2,17240,Saquon Barkley NYG (13),2023,8.3,NaN,12.050000,14.050309,54.627747,0.307349,3.372768,...,0.060691,0.019724,3.735256,0.020465,7.202699,5.141111,0.720049,0.013472,0,5
3,23133,Bijan Robinson ATL (11),2023,8.7,NaN,0.000000,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,1
4,17246,Nick Chubb CLE (5),2023,11.3,NaN,15.475000,17.127188,90.481530,0.694328,1.650035,...,0.042696,0.084857,5.285618,0.041246,8.756101,6.855054,0.780897,0.021600,0,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
92,13903,Melvin Gordon III BAL (13),2023,299.0,NaN,11.075000,12.380208,51.477083,0.491667,2.470833,...,0.059041,0.216469,4.045698,0.034553,7.521311,5.713559,0.756015,0.021482,0,8
93,19351,Ke'Shawn Vaughn TB (5),2023,305.0,NaN,2.966667,3.496296,15.596296,0.111111,0.500000,...,0.022654,0.022654,3.964165,0.017799,6.492449,3.963604,0.613270,0.022654,0,3
94,20100,Raheem Blackshear CAR (7),2023,306.0,NaN,2.900000,1.769231,5.923077,0.230769,0.769231,...,0.000000,0.076923,3.347826,0.130435,9.300000,7.750000,0.833333,0.000000,0,1
95,17058,Matt Breida NYG (13),2023,309.0,NaN,4.700000,5.317240,24.972016,0.069651,1.097002,...,0.089519,0.066342,4.458589,0.018975,8.099240,6.680046,0.822176,0.067641,0,6
96,22969,Jordan Mason SF (9),2023,310.0,NaN,2.700000,3.583333,21.500000,0.083333,0.000000,...,0.000000,0.000000,6.000000,0.023256,NaN,NaN,NaN,NaN,0,1

In [39]:
tt.append(td)[tt.append(td).pid ==23133]

,Rank_x,Player,ATT_RUSHING,YDS_RUSHING,Y/A_RUSHING,LG_RUSHING,20+_RUSHING,TD_RUSHING,REC_RECEIVING,TGT_RECEIVING,...,ROST_MISC,Season,pid,Rank_y,Player Team (Bye),POS,Yahoo,Sleeper,RTSports,AVG
1522,228.0,Bijan Robinson (ATL),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,99.0%,2022,23133,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,2023,23133,9.0,Bijan Robinson ATL (11),RB4,8.0,9.0,9.0,8.7